.plp-container{
    margin-left:px;
    margin-bottom: 400px !important;
    margin-top: 100px !important;
}
.create-product-container .container-fluid{
    padding-left: 12rem;
    padding-right: 12rem;
}

.row{
  
    /* background-color: rgba(215, 212, 212, 0.84) !important; */
    padding-bottom: 70px;
    padding-left: 70px;
    padding-right: 70px;
}
.card-display{
    /* margin-bottom: 20px;
    background-color: rgba(215, 212, 212, 0.84) !important */
}
.card{
    background-color: white !important;
    display: flex;
    border-radius: .5rem  !important;
    height: 172px !important;
    width: 60%;
    align-items: center;
}

.card-img{
    

    margin-top: 25px;
    height: 145px !important;
    width: 90px !important;
}
.pdp-container
{
    margin-top: 150px !important;
}
.price-pdp{
    margin-top: 100px;
}
.pdp-row{
    
    padding-right:2px !important;
    padding-bottom: 4px !important;
}







.product-text{
     
    margin-top: 25px;
    font-size: 14px;
   font-weight: 700;
   font-family:Arial, Helvetica, sans-serif;
}
.price-text{
    padding-left: 30px;
}
.card-img-pdp{
    margin-top: 25px;
    height: 121px !important;
    width: 90px !important;
}


/*create product*/
.create-product-container{
    /* background-color: rgba(215, 212, 212, 0.84) !important; */
}
.form{
    margin-top: 200px !important;
}
.form-group{
    margin-bottom: 20px;
   

}
.form-control{
    background-color: white !important;
}

.plp-layout{
    padding-bottom: 7rem !important;
}